.navbar-container{
    position: sticky;
    top: 0;
    z-index: 2;
}
.main-navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.navbar{
    padding: 0;
}
.nav-right{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.navbar-controll{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.desktop-navbar{
    display: flex;
    align-items: center;
}
.mobile-nav-links{
    display: none;
}
.search-bar-mobile{
    display: none;
    i{
        font-size: 21px;
    }
}
.search-form-mobile{
    display: none;
}
.search-bar{
    display: flex;
    position: relative;
    input{
        min-width: 300px;
    }
    i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #777;
        font-size: 20px;
    }
}
.search-results{
    position: absolute;
    width: 100%;
    height: max-content;
    bottom: 0;
    left: 0;
    top: 100%;
    backdrop-filter: blur(6px);
    background: rgba(0,0,0,0.5);
    a.search-result{
        display: block;
        padding: 10px 15px;
        color: #fff;
        &:hover{
            background-color: #333;
        }
    }
    a.search-result + a.search-result:not(:first-child){
        border-top: solid 1px #fff;
    }
}
.menu-notification{
    border-top: solid 1px #ddd;
    width: 360px;
    box-shadow: 0px 5px 5px 0 #444;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    right: 0;
    top: 100%;
    .noti-item{
        padding: 10px 20px;
        display: block;
        white-space: normal;
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}
.comment-item{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    column-gap: 10px;
    .comment-avatar{
        max-width: 50px;
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .comment-username{
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 500;
    }
    .comment-content{
        font-size: 14px;
        margin: 0;
    }
    .commented-at{
        color: #888;
        font-size: 10px;
        font-family: 'Inter';
        font-weight: 400;
        a{
            font-size: 10px;
            font-family: 'Inter';
            font-weight: 400;
        }
    }
}
.notification-box{
    display: flex;
    position: relative;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}
.notifications-list{
    max-height: calc(100vh - 106.59px);
    overflow-y: auto;
    scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.notifications-list::-webkit-scrollbar {
    display: none;
}

.dropdown-notifications{
    display: flex;
    align-items: center;
}
.new-notification{
    position: absolute;
    top: 8px;
    right: 4px;
    padding: 5px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
}
.noti-item *{
    position: relative;
    font-family: 'Inter';
}
.noti-item:not(:first-child){
    border-top: solid 1px #ddd;
}
.noti-item:hover{
    background-color: #ddd;
}
.noti-unread{
    position: relative;
}
.noti-unread::after{
    content: '';
    width: 5px;
    height: 5px;
    background-color: #0167cb;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.navbar-nav{
    position: relative;
}

.noti-label{
    padding: 10px;
    border-bottom: solid 1px #ddd;
}
@media screen and (max-width:767px) {
    .search-bar{
        display: none;
    }
    .search-bar-mobile{
        display: flex;
        align-items: center;
    }
    .search-form-mobile{
        padding: 20px;
        position: absolute;
        width: 100%;
        background: #fff;
        border-top: solid 1px #ddd;
    }
    .desktop-navbar{
        display: none;
    }
    .mobile-navbar{
        padding: 0 10px;
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 8px;
        display: flex;
        align-items: center;
    }
    .nav-right.desktop{
        display: none;
    }
    .navbar-collapse{
        position: absolute;
        top: 66px;
        left: 0;
        background-color: #fff;
        z-index: 2;
        width: 100%;
    }
    .sub-links{
        display: none;
    }
    .mobile-nav-links{
        padding: 10px 0;
        border-top: solid 1px #ddd;
        flex-direction: column;
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 5px 5px 0 #777;
        .thumbnail-avatar{
            display: inline-flex;
        }
        ul{
            list-style: none;
            flex-direction: column;
            margin: 0;
            li{
                padding: 10px;
                border-top: 1px solid #000;
                &:first-child{
                    border-top: none;
                }
            }
        }
    }
    a.dropdown-item:not(:first-child){
        border-top: none;
    }
    .menu-notification{
        width: 100%;
    }
}