.thumbnail-avatar{
    height: 39px;
    width: 39px;
    display: flex;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px #ddd;
    img{
        object-fit: cover;
        width: 100%;
    }
}

.home-page{
    .section-community{
        h2{
            margin-bottom: 20px;
        }
    }
    .section-container{
        box-shadow: 5px 4px 10px 2px #888;
        padding: 40px;
    }
    .home-item{
        width: 100%;
        max-width: 350px;
        background-color: rgba($color: #ddd, $alpha: 0.75);
        border-radius: 10px;
        transition: all .5s;
	    padding: 15px 25px;
        display: flex;
        align-items: center;
        &:hover{
            transition: all .5s;
            box-shadow: 5px 10px 8px 0 #888;
            transform: scale(1.01);
        }
        img{
            width: 100%;
            object-fit: cover;
            max-height: 350px;
            max-width: 350px;
        }
    }
    .card-body{
        display: flex;
        column-gap: 20px;
    }
    .text-image-block{
        display: flex;
        gap: 20px;
        .image{
            max-width: 50%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .text{
            max-width: 48%;
            h2{
                margin-bottom: 20px;
            }
            .ti-content{
                margin-bottom: 20px;
            }
        }
        .cta-links{
            display: flex;
            gap: 10px;
        }
    }
}
.card-header{
    h1, h2, h3, h4, h5, h6{
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
}
@media screen and (max-width: 767px) {
    .home-page{
        .section-container{
            padding: 40px 20px;
        }
        .text-image-block{
            flex-direction: column;
            .text, .image{
                max-width: unset;
            }
        }
    }
}