.thumbnail-avatar{
    height: 39px;
    width: 39px;
    display: flex;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px #ddd;
    img{
        object-fit: cover;
        width: 100%;
    }
}
#welcome{
    position: absolute;
    width: 100px;
    opacity: 0;
    bottom: 37px;
}
.home-item{
    width: 100%;
    max-width: 350px;
    background-color: rgba($color: #ddd, $alpha: 0.75);
    border-radius: 10px;
    transition: all .5s;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    &:hover{
        transition: all .5s;
        box-shadow: 5px 10px 8px 0 #888;
        transform: scale(1.01);
    }
    img{
        width: 100%;
        object-fit: cover;
        max-height: 350px;
        max-width: 350px;
    }
}
.owl-theme .owl-controls .owl-dot {
    display: inline-block;
}
.owl-theme .owl-dot span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    width: 12px;
    transition: all 0.15s;
}
.owl-theme .owl-dot.active span {
    background: url('/images/pokeball.svg') no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    transition: all 0.15s;
}
.owl-dots{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.owl-item{
    padding: 0 10px;
}
.home-page{
    .section-community{
        h2{
            margin-bottom: 20px;
        }
        background-image: url('/images/pages/news.webp');
        background-repeat: no-repeat;
        background-blend-mode: overlay;
    }
    .section-container{
        box-shadow: 5px 4px 10px 2px #888;
        padding: 40px;
    }
    .card-body{
        display: flex;
        column-gap: 20px;
    }
    .text-image-block{
        display: flex;
        gap: 20px;
        .image{
            max-width: 50%;
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .text{
            max-width: 48%;
            h2{
                margin-bottom: 20px;
            }
            .ti-content{
                margin-bottom: 20px;
            }
        }
        .cta-links{
            display: flex;
            gap: 10px;
        }
    }
    .post-item{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        row-gap: 15px;
        background-image: url('/images/pokemon-dataset/bulbasaur.png'), url('/images/pages/paper-texture.jpg');
        background-size: 100% auto, cover;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        .author{
            display: flex;
            align-items: center;
            gap: 20px;
            .avartar-frame{
                max-width: 60px;
                border-radius: 100%;
                aspect-ratio: 1/1;
                overflow: hidden;
                border: solid 1px #333;
            }
            img{
                object-fit: cover;
            }
        }
        .post-content{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            p{
                margin-top: 0;
            }
        }
        .author-right{
            max-width: 60%;
        }
        .post-comment{
            display: flex;
            gap: 15px;
            justify-content: space-between;
        }
        .sub-text{
            font-size: 14px;
        }
    }
}
.card-header{
    h1, h2, h3, h4, h5, h6{
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
}
@media screen and (max-width: 767px) {
    .home-page{
        .section-container{
            padding: 40px 20px;
        }
        .text-image-block{
            flex-direction: column;
            .text, .image{
                max-width: unset;
            }
        }
    }
}