
.preview {
    text-align: center;
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.section{
    margin-top:150px;
    background:#fff;
    padding:50px 30px;
}

.modal-lg{
    max-width: 1000px !important;
}
.avatar-modal{
    img{
        max-width: 100%;
        display: block;
    }
}
.my-account-page{
    .edit-account{
        padding-bottom: 20px;
    }
    .avatar-field{
        width: 100%;
        max-width: 250px;
        margin-right: 20px;
    }
    .image-uploader{
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }
    .form-field{
        margin-top: 20px;
    }
    .base-info{
        display: flex;
        justify-content: space-between;
        .info-fields{
            padding-left: 20px;
            border-left: solid 1px #000;
            width: 60%;
        }
    }
    .add{
        border-top: solid 1px #000;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .add-post{
        display: none;
    }
    .posts{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        row-gap: 20px;
    }
    .post{
        box-shadow: 5px 4px 10px 2px #888;
        padding: 20px;
        position: relative;
        .post-title{
            display: flex;
            justify-content: space-between;
        }
        .action{
            display: flex;
            column-gap: 10px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
    .post-content{
        *{
            max-width: 100%;
        }
        img{
            max-width: 100%;
            object-fit: cover;
            margin: 10px 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .my-account-page{
        .base-info{
            flex-direction: column;
            row-gap: 20px;
            .info-fields{
                padding-left: 0;
                border-left: none;
                width: 100%;
            }
        }
        .avatar-field{
            margin-right: 0;
        }
    }
}
