
.preview {
    text-align: center;
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.section{
    margin-top:150px;
    background:#fff;
    padding:50px 30px;
}

.modal-lg{
    max-width: 1000px !important;
}
.avatar-modal{
    img{
        max-width: 100%;
        display: block;
    }
}
.my-account-page{
    .avatar-field{
        width: 100%;
        max-width: 250px;
        text-align: center;
    }
    .image-uploader{
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }
    .form-field{
        margin-top: 20px;
    }
}
