.merchandise{
    .add{
        padding-top: 14px;
        padding-bottom: 30px;
    }
    .form-field{
        margin-top: 20px;
        input{
            border: solid 1px #000;
        }
        input[type="file"]{
            border: none;
        }
    }
}
.currently-sale{
    padding-top: 30px;
    border-top: solid 1px #ddd;
    min-height: 500px;
}