.demoWrapper {
    padding: 20px;
    border-top: 2px solid #eee;
    width: 800px;
    margin: auto;
}
.cropperContainer {
    float: left;
    border: 0px solid #eee;
    min-width: 440px;/*Used to improve layout during loading the image.*/
    min-height: 327px;
}
.previews {
    float: left;
    margin-left: 0px;
}
.previewSmall {
    margin: 40px;
    width: 60px;
    height: 60px;
}
.previewBig {
    margin: 40px;
    width: 100px;
    height: 100px;
}

.info {
    clear: both;
    padding: 5px;
    font-family: Arial;
    font-size: 12px;
    color: #777;
}