.accordion-box{
    cursor: pointer;
    border-radius: 5px;
    
    .plus-icon{
        display: inline-block;
        transition: all .5s;
    }
    &:hover{
        background-color: #ddd;
        .plus-icon{
            transform: rotate(360deg);
            transition: all .5s;
        }
    }
}
.merchandise{
    .add{
        margin-top: 40px;
        padding: 20px;
        box-shadow: 5px 4px 10px 2px #888;
    }
    .form-field{
        margin-top: 20px;
        input{
            border: solid 1px #000;
        }
        input[type="file"]{
            border: none;
        }
    }
    .item{
        width: calc(25% - 15px);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #ddd;
        background-image: none;
        position: relative;
        
        .image-container{
            margin-top: 8px;
            display: flex;
            height: 160px;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .description{
            margin-top: 8px;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .price-box{
            margin-top: auto;
        }
        .price{
            margin-top: 8px;
            font-size: 14px;
        }
        .actions-box{
            margin-top: 8px;
        }
        .confirm-delete{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 10px;
            height: 172px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: solid 2px #000;
            backdrop-filter: blur(8px);
            background: hsla(0,0%,100%,.2);
            .actions-box{
                display: flex;
                column-gap: 20px;
                justify-content: center;
            }
        }
    }
}
.currently-sale{
    display: flex;
    margin: 20px 0;
    min-height: 200px;
    flex-wrap: wrap;
    gap: 20px;
    transition: all 1s;
    box-shadow: 5px 4px 10px 2px #888;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .merchandise{
        .item{
            width: calc(33.33% - 15px);
        }
    }
}
@media screen and (max-width: 850px) {
    .merchandise{
        .item{
            width: calc(50% - 15px);
        }
    }
}
@media screen and (max-width: 550px) {
    .merchandise{
        .item{
            width: 100%;
        }
    }
}