.post-details{
    padding-bottom: 20px;
}
.post-content{
    
    p{
        margin: 16px 0;
        margin-bottom: 0;
    }
}
.limit-content{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    p {
        display: inline;
    }
    
    p::after {
        content: " \A\A";
        white-space: pre;
    }
}
.see-more-btn{
    cursor: pointer;
    text-decoration: underline;
    &:hover{
        color: #333;
    }
}