.post-details{
    padding-bottom: 20px;
}
.post-content{
    
    p{
        margin: 16px 0;
        margin-bottom: 0;
    }
}
.limit-content{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    p {
        display: inline;
    }
    
    p::after {
        content: " \A\A";
        white-space: pre;
    }
}
.see-more-btn{
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
    &:hover{
        color: #333;
    }
}
.newsfeed-page{
    .post{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .post-col-left{
            display: flex;
            flex-direction: column;
            width: 60%;
        }
        .author{
            font-size: 14px;
        }
        .avatar-field{
            display: flex;
            gap: 10px;
            
            img{
                max-width: 60px;
            }
        }
        .post-title{
            text-transform: uppercase;
            text-decoration: underline;
            font-weight: 600;
        }
        .post-content{
            margin-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            p{
                display: inline;
            }
            img, iframe{
                display: none;
            }
        }
    }
    .page-item{
        a:focus{
            box-shadow: none;
        }
        &.active{
            a{
                border-color: #777;
                background-color: #777;
                color: #fff;
            }
        }
        .page-item:first-child a,
        .page-item:last-child a{
            font-weight: 600;
        }
    }
    .page-link{
        color: #000;
    }
}

@media screen and (max-width: 767px) {
    .newsfeed-page{
        .post{
            align-items: normal;
            .post-title{
                margin-bottom: auto;
            }
            .avatar-field{
                flex-direction: column-reverse;
                align-items: flex-end;
                p{
                    text-align: right;
                }
            }
        }
    }
}