.pokemon-details{
    display: flex;
    justify-content: space-between;
}
.pokemon-images{
    display: flex;
}
.pokemon-shapes{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    max-width: 256px;
}
.detail-col{
    th,td{
        padding: 0 15px;
    }
}
.pokemon-stats{
    th{
        padding: 0 15px;
        text-align: end;
    }
    td{
        padding: 0 15px;
    }
}