.pokemon-page{
    .type{
        display: inline-flex;
        align-items: center;
        color: #fff;
        border-radius: 3px;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        min-width: 90px;
        justify-content: center;
    }
    .pokemon-name{
        text-transform: capitalize;
    }
}
.pokemon-moves{
    display: flex;
    gap: 60px;
    background-color: #fff;
    padding: 20px 40px;
    position: relative;
    z-index: 1;
    box-shadow: 8px 10px 10px 0px #777;
    table{
        width: 100%;
    }
    
    th, td{
        padding: 5px;
    }
    tr:nth-child(even){
        background-color: #ddd;
    }
    td{
        white-space: nowrap;
    }
    .moves-table{
        width: 100%;
        h4{
            font-family: 'Inter';
        }
    }

}
.moves-col-left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.pokemon-details{
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow: 4px 5px 8px 0px #777;
}
.pokemon-avatar{
    img{
        width: 100%;
        object-fit: cover;
    }
}
.pokemon-images{
    display: flex;
    gap: 10px;
    .poke-thumb{
        max-height: 96px;
    }
}
.pokemon-charts{
    padding: 20px 0;
    margin: auto;
    // box-shadow: 4px 5px 8px 0px #777;
}
.pokemon-shapes{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    max-width: 256px;
}
.detail-col{
    margin-top: 40px;
    max-width: 800px;
    width: 100%;
    th,td{
        padding: 0 15px;
    }
}
.pokemon-stats{
    th{
        padding: 0 15px;
        text-align: end;
        white-space: nowrap;
    }
    td{
        padding: 0 15px;
    }
    .stat-chart{
        width: 100%;
        max-width: 255px;
        padding: 0;
        overflow: hidden;
        div{
            width: 0;
            height: 0.75rem;
            background-color: #ddd;
        }
        .barchart-rank-1{
            background-color: #f34444;
        }
        .barchart-rank-2{
            background-color: #ff7f0f;
        }
        .barchart-rank-3{
            background-color: #ffdd57;
        }
        .barchart-rank-4{
            background-color: #a0e515;
        }
        .barchart-rank-5{
            background-color: #23cd5e;
        }
        .barchart-rank-6{
            background-color: #00c2b8;
        }
    }
}
.pokemon-moves-container{
    margin-top: 60px;
}
.generation-navigator{
    top: -40px;
    display: flex;
    gap: 20px;
    span{
        padding: 10px 20px;
        background-color: #ddd;
        border-radius: 9px 9px 0 0;
        cursor: pointer;
        box-shadow: 4px 5px 8px 0px #777;
        &.active{
            border-bottom: solid 1px #fff;
            background-color: #fff;
        }
        &:hover{
            background-color: #fff;
        }
    }
}

@media screen and (max-width: 767px) {
    .pokemon-details{
        flex-direction: column;
        row-gap: 20px;
    }
}