*{
    font-family: 'Retro-Computer';
}
body{
    margin: 0;
    padding: 0;
}
input, textarea{
    display: block;
    width: 100%;
    resize: none;
    outline: none;
    border-radius: 3px;
    font-family: 'Arial';
}
p{
    font-family: 'Arial';
    margin-bottom: 0;
}
textarea{
    padding: 10px;
}
input[type="file"]{
    font-family: 'Retro-Computer';
}
input[type="text"],
input[type="password"],
input[type="email"]{
    border: none;
    height: 35px;
    border-radius: 3px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

button{
    outline: none;
    border: none;
    min-height: 35px;
    border-radius: 3px;
}

.btn-primary{
    background-color: #ec1818;
    border: solid 1px #000;
    position: relative;
    transition: all .1s;
    
    &::before{
        content: "";
        background-color: #fff;
        width: 23px;
        height: 2px;
        display: block;
        position: absolute;
        border-radius: 99px;
        top: 3px;
        left: 4px;
        transition: all .1s;
    }
    &:hover{
        background-color: #9c1b1b;
        border: solid 1px #000;
        transition: all .1s;
        &::before{
            width: 0;
            transition: all .1s;
        }
    }
}

.pokeball{
    transform: rotate(90deg);
    width: 40px;
    height: 40px;
    transition: all 0.25s;
    transition-delay: .25s;
    display: flex;
    justify-content: center;
    position: relative;
    .ball-text{
        opacity: 0;
        transition: all 0.1s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .half-top{
        transition: all 0.25s;
        // transition-delay: .25s;
        transform: translateX(8px);
    }
    .half-bottom{
        transition: all 0.25s;
        // transition-delay: .25s;
        transform: translateX(0);
    }
    .half-pokeball{
        display: inline-block;
    }
    &:hover{
        transform: rotate(0);
        overflow: unset;
        transition: all 0.25s;
        .ball-text{
            display: inline-block;
            opacity: 1;
            transition: all .1s;
            transition-delay: .25s;
        }
        .half-top{
            transform: translateX(-100%);
            transition: all 0.25s;
            transition-delay: .25s;
        }
        .half-bottom{
            transform: translateX(100%);
            transition: all 0.25s;
            transition-delay: .25s;
        }
        .half-pokeball{
            display: inline-block;
        }
    }
}

.basic-theme{
    min-height: 100vh;
    background-color: antiquewhite;
}

a.dropdown-item:not(:first-child){
    border-top: solid 1px #ddd;
}
a.dropdown-item:hover{
    background-color: #ddd;
}

//glass element
.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,lightgreen);

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
}
.glass::before{
	content: '';
	position: absolute;
    border-radius: 10px 10px 3px 3px;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 7%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

//shiny anomation
.shiny {
    position: relative;
    display: inline-block;
    overflow: hidden;
    &:hover::after{
        animation: slide 1s;
    }
  }

  /* Shine */
  .shiny:after {
        content:'';
        top:0;
        transform:translateX(100%);
        width:100%;
        height:100%;
        position: absolute;
        z-index:1;       
    /* 
    CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
    */
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  }
  
  /* animation */
  
  @keyframes slide {
      0% {transform:translateX(-100%);}
      100% {transform:translateX(100%);}
  }