*{
    font-family: 'Retro-Computer';
    margin: 0;
    padding: 0;
}

input, textarea{
    display: block;
    width: 100%;
    resize: none;
    outline: none;
    border-radius: 3px;
    font-family: 'Vi-Retro';
}
a{
    text-decoration: none;
    color: #000;
}
p{
    font-family: "Vi-Retro";
    margin-bottom: 0;
    font-size: 12px;
    line-height: 200%;
}
textarea{
    padding: 10px;
}
input[type="file"]{
    font-family: 'Retro-Computer';
}
input[type="text"],
input[type="password"],
input[type="email"]{
    border: none;
    height: 35px;
    border-radius: 3px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
input.input-border,
textarea.input-border{
    border: solid 2px #ddd;
}
.no-image{
    border: solid 1px #000;
}
.image-uploader{
    border: solid 1px #000;
    position: relative;
    height: 250px;
    background-color: #ddd;
    aspect-ratio: 3/2;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        &::after{
            content: "\f044";
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            position: absolute;
            color: #fff;
            top: 5px;
            left: 5px;
        }
        .thumbnail{
            filter: brightness(0.5);
        }
    }
    input[type="file"]{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }
    .thumbnail{
        height: 100%;
        object-fit: cover;
    }
}
button{
    outline: none;
    border: none;
    min-height: 35px;
    border-radius: 3px;
}
.btn{
    border: solid 1px #000;
    transition: all .1s;
    position: relative;
    &::before{
        content: "";
        background-color: #fff;
        width: 23px;
        height: 2px;
        display: block;
        position: absolute;
        border-radius: 99px;
        top: 3px;
        left: 4px;
        transition: all .1s;
    }
    &:hover{
        transition: all .1s;
        &::before{
            width: 0;
            transition: all .1s;
        }
    }
}
.btn-primary{
    background-color: #ec1818;
    &:hover{
        background-color: #9c1b1b;
        border: solid 1px #000;
    }
    &:focus{
        box-shadow: unset;
    }
}
.btn-secondary{
    background-color: #1dab35;
    border: solid 1px #000;
    &:hover{
    background-color: #0d4a17;
    border: solid 1px #000;
    }
    &:focus{
        box-shadow: unset;
    }
}

.pokeball{
    width: 40px;
    height: 40px;
    transition: all 0.25s;
    transition-delay: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .ball-text{
        opacity: 0;
        transition: all 0.1s;
        position: absolute;
        transform: rotate(90deg);
    }
    .half-top{
        transition: all 0.25s;
        // transition-delay: .25s;
    }
    .half-bottom{
        transition: all 0.25s;
        // transition-delay: .25s;
        svg{
            overflow: hidden;
        }
    }
    .half-pokeball{
        display: inline-block;
        position: absolute;
    }
    &:hover{
        transform: rotate(-90deg);
        overflow: unset;
        transition: all 0.25s;
        .ball-text{
            display: inline-block;
            opacity: 1;
            transition: all .1s;
            transition-delay: .25s;
        }
        .half-top{
            transform: translateY(calc(-100% - 8px));
            transition: all 0.25s;
            transition-delay: .25s;
        }
        .half-bottom{
            transform: translateY(100%);
            transition: all 0.25s;
            transition-delay: .25s;
        }
        .half-pokeball{
            display: inline-block;
        }
    }
}

.basic-theme{
    min-height: 100vh;
    background-color: antiquewhite;
}

a.dropdown-item:not(:first-child){
    border-top: solid 1px #ddd;
}
a.dropdown-item:hover{
    background-color: #ddd;
}

//glass element
.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,lightgreen);

	/* text styles */
	text-decoration: none;
	font-weight: 100;
}
.glass::before{
	content: '';
	position: absolute;
    border-radius: 10px 10px 3px 3px;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 7%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

//shiny anomation
.shiny {
    position: relative;
    display: inline-block;
    overflow: hidden;
    &:hover::after{
        animation: slide 1s;
    }
  }

  /* Shine */
  .shiny:after {
        content:'';
        top:0;
        transform:translateX(100%);
        width:100%;
        height:100%;
        position: absolute;
        z-index:1;       
    /* 
    CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
    */
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  }
  
    //zoom on hover
  .zoom-on-hover{
    transition: all .5s;
      &:hover{
        transition: all .5s;
        box-shadow: 5px 10px 8px 0 #888;
        transform: scale(1.01);
      }
  }
  /* animation */
  
  @keyframes slide {
      0% {transform:translateX(-100%);}
      100% {transform:translateX(100%);}
  }

.comment-item{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    column-gap: 10px;
    .comment-avatar{
        max-width: 50px;
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .comment-username{
        font-size: 12px;
        font-family: 'Vi-Retro';
    }
    .comment-content{
        font-size: 10px;
    }
    .commented-at{
        color: #888;
        font-size: 10px;
        font-family: 'Retro-Gaming';
    }
}
.notification-box{
    position: relative;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}
.dropdown-notifications{
    display: flex;
    align-items: center;
}
.new-notification{
    position: absolute;
    top: 8px;
    right: 4px;
    padding: 5px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
}
.hidden{
    display: none;
}
.noti-item *{
    position: relative;
    font-family: 'Vi-Retro';
}
.noti-item:not(:first-child){
    border-top: solid 1px #ddd;
}
.noti-item:hover{
    background-color: #ddd;
}
.noti-unread{
    position: relative;
}
.noti-unread::after{
    content: '';
    width: 5px;
    height: 5px;
    background-color: #0167cb;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.navbar-nav{
    position: relative;
}
.menu-notification{
    width: 360px;
    box-shadow: 5px 4px 10px 2px #888;
}
.noti-label{
    padding: 10px;
    border-bottom: solid 1px #ddd;
}
.section-container{
    display: flex;
    width: 100%;
    max-width: 1280px;
    padding: 0 60px;
    margin: auto;
    justify-content: space-between;
}
.mobile{
    display: none;
}
.page{
    width: 100%;
}

@media screen and (max-width: 991px) {
    .section-container{
        padding: 0 20px;
    }
}
@media screen and (max-width:767px) {
    .section-container{
        padding: 0 15px;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}