*{
    font-family: 'Inter';
    font-weight: 400;
    margin: 0;
    padding: 0;
}
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: #000;
}

p,span,ul,ol,li, td, th{
    font-family: "Inter";
    margin-bottom: 0;
    font-size: 16px;
}
.capitalize{
    text-transform: capitalize;
}
textarea{
    padding: 10px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.hidden{
    display: none;
}
.opacity0{
    opacity: 0;
}
input[type="file"]{
    font-family: 'Inter';
}
input[type="text"],
input[type="password"],
input[type="email"]{
    border: none;
    height: 35px;
    border-radius: 3px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
input.input-border,
textarea.input-border{
    border: solid 1px #ddd;
}
input, textarea{
    display: block;
    width: 100%;
    resize: none;
    outline: none;
    border-radius: 3px;
    font-family: 'Inter';
    &.error{
        border: solid 1px #ec1818;
    }
}
.reverse{
    flex-direction: row-reverse;
}
.banner{
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/vermilioncity.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .text-container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        min-height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1360px;
        margin: auto;
        padding: 0 40px;
    }
    h1{
        font-weight: 700;
        color: #fff;
        font-size: 50px;
        white-space: wrap;
    }
    .text-animate{
        overflow: hidden;
        transform: translateY(-10px);
        animation: show 4s infinite;
    }
}
.filter-blur{
    background-color: transparent;
    backdrop-filter: blur(8px);
}
@keyframes show {
    0% {
        transform: translateY(-10px);
    }
    20%{
        transform: translateY(0);
    }
    
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

.fade-left{
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeLeft .25s forwards;
}

.fade-right{
    opacity: 0;
    transform: translateX(100px);
    animation: fadeRight .25s forwards;
}
tbody.multiload-right,
tbody.multiload-left{
    tr{
        opacity: 0;
    }
}
@keyframes fadeLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.no-image{
    border: solid 1px #000;
}
.image-uploader{
    border: solid 1px #000;
    position: relative;
    height: 250px;
    background-color: #ddd;
    aspect-ratio: 3/2;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        &::after{
            content: "\f044";
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            position: absolute;
            color: #fff;
            top: 5px;
            left: 5px;
        }
        .thumbnail{
            filter: brightness(0.5);
        }
    }
    input[type="file"]{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }
    .thumbnail{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.sub-text{
    color: #888;
    font-size: 10px;
}
button{
    outline: none;
    border: none;
    min-height: 35px;
    border-radius: 3px;
}
.btn{
    border: solid 1px #000;
    transition: all .1s;
    position: relative;
    &::before{
        content: "";
        background-color: #fff;
        width: 23px;
        height: 2px;
        display: block;
        position: absolute;
        border-radius: 99px;
        top: 3px;
        left: 4px;
        transition: all .1s;
    }
    &:hover{
        transition: all .1s;
        &::before{
            width: 0;
            transition: all .1s;
        }
    }
}
.btn-primary{
    background-color: #ec1818;
    &:hover{
        background-color: #9c1b1b;
        border: solid 1px #000;
    }
    &:focus{
        box-shadow: unset;
    }
}
.btn-secondary{
    background-color: #1dab35;
    border: solid 1px #000;
    &:hover{
    background-color: #0d4a17;
    border: solid 1px #000;
    }
    &:focus{
        box-shadow: unset;
    }
}

.pokeball{
    width: 40px;
    height: 40px;
    transition: all 0.25s;
    transition-delay: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .ball-text{
        font-weight: 700;
        opacity: 0;
        transition: all 0.1s;
        position: absolute;
        transform: rotate(90deg);
    }
    .half-top{
        transition: all 0.25s;
        // transition-delay: .25s;
    }
    .half-bottom{
        transition: all 0.25s;
        // transition-delay: .25s;
        svg{
            overflow: hidden;
        }
    }
    .half-pokeball{
        display: inline-block;
        position: absolute;
    }
    &:hover{
        transform: rotate(-90deg);
        overflow: unset;
        transition: all 0.25s;
        .ball-text{
            display: inline-block;
            opacity: 1;
            transition: all .1s;
            transition-delay: .25s;
        }
        .half-top{
            transform: translateY(calc(-100% - 8px));
            transition: all 0.25s;
            transition-delay: .25s;
        }
        .half-bottom{
            transform: translateY(100%);
            transition: all 0.25s;
            transition-delay: .25s;
        }
        .half-pokeball{
            display: inline-block;
        }
    }
}

a.dropdown-item:not(:first-child){
    border-top: solid 1px #ddd;
}
a.dropdown-item:hover{
    background-color: #ddd;
}

.glass::before{
	content: '';
	position: absolute;
    border-radius: 10px 10px 3px 3px;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 7%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

//grass element
.grass{
	/* background styles */
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,lightgreen);
}

//fire element
.fire{
	/* background styles */
	background-color: rgb(226, 48, 3); /*for compatibility with older browsers*/
	background-image: linear-gradient(rgb(226, 48, 3),rgb(255, 88, 10));
}

//water element
.water{
	background-color: rgb(0, 102, 255); /*for compatibility with older browsers*/
	background-image: linear-gradient(rgb(0, 102, 255),rgb(0, 162, 255));
}

//poison element
.poison{
	background-color: #a59; /*for compatibility with older browsers*/
	background-image: linear-gradient(#a59,rgb(255, 115, 227));
}

//electric element
.electric{
	background-color: #fc3;
	background-image: linear-gradient(#fc3,rgb(255, 223, 128));
}
//normal element
.normal{
	background-color: #aa9;
	background-image: linear-gradient(#aa9,rgb(221, 221, 211));
}

//ice element
.ice{
	background-color: #6cf;
	background-image: linear-gradient(#6cf,rgb(165, 225, 255));
}

//fighting element
.fighting{
	background-color: #b54;
	background-image: linear-gradient(#b54,rgb(228, 130, 112));
}

//ground element
.ground{
	background-color: #db5;
	background-image: linear-gradient(#db5,rgb(253, 225, 142));
}

//flying element
.flying{
	background-color: #89f;
	background-image: linear-gradient(#89f,rgb(175, 187, 255));
}

//psychic element
.psychic{
	background-color: #f59;
	background-image: linear-gradient(#f59,rgb(250, 140, 184));
}

//bug element
.bug{
	background-color: #ab2;
	background-image: linear-gradient(#ab2,rgb(238, 255, 111));
}

//rock element
.rock{
	background-color: #ba6;
	background-image: linear-gradient(#ba6,rgb(243, 226, 159));
}

//ghost element
.ghost{
	background-color: #66b;
	background-image: linear-gradient(#66b,rgb(159, 159, 252));
}

//dragon element
.dragon{
	background-color: #76e;
	background-image: linear-gradient(#76e,rgb(177, 177, 255));
}

//dark element
.dark{
	background-color: #754;
	background-image: linear-gradient(#754,rgb(201, 152, 127));
}

//steel element
.steel{
	background-color: #aab;
	background-image: linear-gradient(#aab,rgb(219, 219, 230));
}

//fairy element
.fairy{
	background-color: #e9e;
	background-image: linear-gradient(#e9e,rgb(253, 184, 253));
}
//shiny animation
.shiny {
    position: relative;
    display: inline-block;
    overflow: hidden;
    &:hover::after{
        animation: slide 1s;
    }
  }

  /* Shine */
  .shiny:after {
        content:'';
        top:0;
        transform:translateX(100%);
        width:100%;
        height:100%;
        position: absolute;
        z-index:1;       
    /* 
    CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
    */
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  }
  
    //zoom on hover
  .zoom-on-hover{
    transition: all .5s;
      &:hover{
        transition: all .5s;
        box-shadow: 5px 10px 8px 0 #888;
        transform: scale(1.01);
      }
  }
  /* animation */
  
  @keyframes slide {
      0% {transform:translateX(-100%);}
      100% {transform:translateX(100%);}
  }
.hidden{
    display: none;
}
.content-container{
    overflow: hidden;
}
.section-container, 
.header-container,
.footer-container{
    width: 100%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.section-container{
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 1280px;
    box-shadow: 5px 4px 10px 2px #888;
    padding: 40px;
}

.header-container, .footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
}
.mobile{
    display: none;
}
.page{
    width: 100%;
    max-width: 1360px;
    margin: 40px auto;
    padding-left: 40px;
    padding-right: 40px;
}
label.error{
    color: #ec1818;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
}
iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
//custom mce editor
.tox .tox-toolbar__primary{
    background-position: unset !important;
    background-size: calc(100% - 11px * 2) calc(100% - 41px) !important;
}
.authentication{
    h1{
        margin-bottom: 40px;
    }
    .card-body{
        max-width: 800px;
        margin: auto;
        label{
            font-weight: 500;
        }
        input{
            border: solid 1px #ddd;
        }
    }
}
@media screen and (max-width: 991px) {
    
}
@media screen and (max-width:767px) {
    .page{
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-container,
    .header-container,
    .footer-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner{
        .text-container{
            padding: 0 20px;
        }
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}