@font-face {
    font-family: 'Retro-Gaming';
    src: url("../fonts/retro_gaming/Retro-Gaming.ttf");
    src: url("../fonts/retro_gaming/Retro-Gaming.ttf?#iefix") format("embedded-opentype"),
    url("../fonts/retro_gaming/Retro-Gaming.woff2") format("woff2"),
    url("../fonts/retro_gaming/Retro-Gaming.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Retro-Computer';
    src: url("../fonts/retro_computer/retro_computer_personal_use.ttf");
    font-weight: normal;
    font-style: normal;
}